@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --da-sec-btn : #D7D7D7;
    --dark : #2C2C2C;
    --light : #EFE3E3;
    --li-sec-btn: #5A5454;
}

.dark-theme{
    --light : #2c2c2c;
    --dark : #efe3e3;
    --li-sec-btn: #d7d7d7;
}

/* Hero Section Start */
.hero{
    width: 100%;
    min-height: 100vh;
    background: var(--light);
    color: var(--dark);
    padding: 10px 8%;
    position: relative;
    overflow: hidden;
}
/* Hero Section End */

/* Navbar Start */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 8%;
    display: flex;
    align-items: center;
    z-index: 10;
}

nav .logo{
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: var(--dark);
    padding-right: 30px;
}

nav ul{
    flex: 1;
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}

nav a{
    text-decoration: none;
    color: var(--dark);
    transition: all 200ms ease-in;
}

nav a:hover{
   color: var(--li-sec-btn);
   font-weight: 500;
}

.main-nav{
    padding-left: 200px;
}

.other-btn{
    align-items: center;
}


#icon{
    width:16px;
    height: 14px;
}

/* Navbar End */

/* main content start */
.main-content{
    margin-top: 14%;
    max-width: 500px;
}

.main-content h1{
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-content p{
    line-height: 28px;
}

.main-content button{
    padding: 20px 40px;
    background: var(--dark);
    border: 0;
    outline: 0;
    margin-top:40px ;
    margin-right:10px ;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    color: var(--light);
}

.main-content button:last-child{
    background: var(--li-sec-btn);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
}

.main-content button:hover{
    border: 2px solid var(--li-sec-btn);
    background: transparent;
    color: var(--dark);
}
/* main content end */

/* feature-img start*/
 .feature-img{
   width: 900px;
   position: absolute;
   left: 40%;
   top: -8%;
   z-index: 2;
   border-top-left-radius: 10%;
   border-top-right-radius: 10%;
 }
/* feature-img end*/